.mainNav{
    width: 100%;
    background-color:#ccfbf1 ;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainNav nav{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 1170px;

}
.mainNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mainNav ul li{
margin:0 0.3rem;
font-size: 1.6em;
}
.mainNav a{
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #2dd4bf;
}
.mainNav a:hover,
.activeLink,.activeBar{
    color: #0d9488;
    background: #fff;
}
.mainNav .Bar li{
    position: relative;
     margin-left: 0.3em;
     display: flex;
     
}
.mainNav .Bar a{
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    color: #2dd4bf;
    border-radius: 50%;
    font-size: 1.4em;

   
}
.mainNav .Bar a span{
position: absolute;
top: 0;
right: -5px;
display: flex;
font-size: 0.8em;
}
